/*
        1. preload
        2. menu
        3. home-background
        4. sobre
        5. habilidade
        6. resume
        7. projetos
        9.responsive
*/

html {
  position: relative;
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
  height: 100%;
  background-color: #181a1b;
}
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("../font/glyphicons-halflings-regular.eot");
  src: url("../font/glyphicons-halflings-regulard41d.eot?#iefix")
      format("embedded-opentype"),
    url("../font/glyphicons-halflings-regular.woff") format("woff"),
    url("../font/glyphicons-halflings-regular.ttf") format("truetype"),
    url("../font/glyphicons-halflings-regular.svg#glyphicons_halflingsregular")
      format("svg");
}
@font-face {
  font-family: "Flaticon";
  src: url("../font/flaticon.html");
  src: url("../font/flaticon.html#iefix") format("embedded-opentype"),
    url("../font/flaticon-2.html") format("woff"),
    url("../font/flaticon-3.html") format("truetype"),
    url("../font/flaticon-4.html") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*================================================================ PRELOAD ===================================================================*/

.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../img/loader.gif) center no-repeat #181a1b;
}

/*============================================================== MENU ==========================================================*/

.main-page-content {
  width: 100%;
  height: 100%;
}

.menubar {
  height: auto;
  width: 100%;
}
.navbar-default {
  background-color: transparent;
  height: 75px;
  border-bottom: none;
  overflow: hidden;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  margin: 0px;
}
.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  background-color: rgba(108, 108, 108, 0.47);
}
.navbar-default.small {
  background-color: #181a1b;
  margin: 0px;
  box-shadow: 0px 0px 35px 0px #0000000f;
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 10px 58px;
  font-size: 41px;
  line-height: 20px;
  padding-top: 21px;
}
.navbar-nav {
  float: right;
  margin: 17px 10px;
  margin-right: 0px;
}
.navbar-nav li {
  float: left;
  margin: 0px 11px;
  display: inherit;
}
.navbar-default .navbar-nav > li > a {
  color: #bbb5ac;
  letter-spacing: 2px;
  font-size: 15px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  padding: 10px 0px;
}
.navbar-default.small .navbar-nav > li > a {
  color: #bbb5ac;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #204d73;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #204d73 !important;
  background-color: transparent;
  text-decoration: line-through;
}
.navbar-nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
}
.site-title {
  padding: 0px 0px;
}
.site-title h3 {
  font-family: "Roboto Slab", serif;
  font-size: 26px;
  color: #204d73;
  margin-top: 23px;
  letter-spacing: 3px;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: -39px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

/*====================================================== HOME BACKGROUND =====================================================*/

#home {
  height: 100vh;
  min-height: 100%;
  width: 100%;
  position: relative;
}
.home-img {
  width: 100%;
  height: 100vh;
  margin-left: 0px;
  margin-top: 0px;
}
.home-content-main {
  width: 100%;
  height: 100%;
  display: table;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}
.home-row {
  z-index: 2;
  position: relative;
}
.home-text {
  width: 100%;
}
.cd-headline.clip span {
  font-size: 82px;
  color: #204d73;
  font-family: "Roboto Slab", serif;
  letter-spacing: 2px;
  font-weight: 900;
}

.home-text h3 {
  font-size: 29px;
  color: #f8f8f8;
  font-family: "Roboto Slab", serif;
  letter-spacing: 2px;
  margin-top: 19px;
  line-height: 31px;
}
.home-background {
  width: 100%;
  height: 100vh;
}
.image-home {
  width: 100%;
  height: 100vh;
}
#particles-js {
  width: 100%;
  height: 100%;
  background-color: #bbb5ac;
  background: url(../img/background.jpg) 50% 0 no-repeat fixed;
  background-size: cover;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  position: absolute;
}
#home-parallex:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  /* background-color: rgba(0, 0, 0, 0.53); */
  top: 0;
  left: 0;
  z-index: 1;
}

/*==================================================================== ABOUT ============================================================*/

#about {
  width: 100%;
  /* background-color: #bbb5ac; */
  margin-top: 0px;
  position: relative;
}
.about-content {
  padding-top: 80px;
  padding-bottom: 50px;
}
.about-grid {
  width: 100%;
}
.love-grid {
  width: 100%;
  margin-top: 0px;
  /* background-color: #bbb5ac; */
}
.love-row {
  margin-top: 80px;
}
.main-title {
  border-radius: 10px;
  padding: 30px 0px;
  /* box-shadow: 0px 0px 35px 0px #0000000f; */
  position: relative;
  background-color: #11111136;
}
.main-title h3 {
  font-size: 34px;
  font-family: "Roboto Slab", serif;
  letter-spacing: 2px;
  color: #bbb5ac;
  margin-top: 0px;
  font-weight: 500;
  line-height: 30px;
}
.main-title p {
  font-size: 17px;
  letter-spacing: 1px;
  color: #bbb5ac;
  padding: 0px;
  line-height: 27px;
  margin: 15px 0px;
  margin-bottom: 0px;
}
.underline1 {
  height: 2px;
  width: 100px;
  background-color: #204d73;
  margin: auto;
  margin-top: 20px;
  position: relative;
}
.underline2 {
  height: 10px;
  width: 10px;
  background-color: #204d73;
  margin: auto;
  margin-top: -6px;
  transform: rotate(-135deg);
}

.love-row {
  padding: 0px 0px;
  padding-bottom: 0px;
}
.love-details {
  border-radius: 10px;
  padding: 0px;
  margin-bottom: 30px;
  border: none;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  background-color: #11111136;
  padding-right: 0px;
  /* box-shadow: 0px 0px 35px 0px #0000000f; */
  padding: 30px 10px;
}
.love-details:hover {
  border-radius: 10px;
  /* box-shadow: 0px 0px 35px 0px #0000000f; */
}

.love-details h3 {
  margin: 16px 0px;
  font-size: 19px;
  letter-spacing: 1px;
  color: #bbb5ac;
  font-family: "Roboto Slab", serif;
  position: relative;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: 21px;
}
.love-details p {
  color: #bbb5ac;
  font-size: 17px;
  line-height: 25px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.love-icon {
  font-size: 23px;
  color: #bbb5ac;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  border: 1px solid #204d73;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  background-color: #204d73;
}
.love-details:hover .love-icon {
  background-color: #bbb5ac;
  color: #204d73;
}
.love-details:hover {
  background-color: #204d73;
}
.love-details:hover .underline1 {
  background-color: #181a1b;
}
.love-details:hover .underline2 {
  background-color: #181a1b;
}
.love-details:hover p {
  color: #bbb5ac;
}

.about-back {
  width: 60%;
  height: 800px;
  position: absolute;
  /* border: 40px solid #fbfbfb; */
  margin-left: 20%;
}
.me-grid {
  margin-top: 50px;
}
.left-title {
  padding: 30px 30px;
}
.about-col {
  padding: 0px;
}
.about-image {
  margin: 0px 16px;
  text-align: center;
}
.about-img {
  width: 90%;
  height: auto;
  padding: 0px;
  transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  border-radius: 20px;
}
.about-social-icon {
  padding: 15px 0px;
}
.about-social {
  padding: 0px;
  display: inline-flex;
  list-style: none;
  margin: 0px;
}
.about-social li {
  margin: 0px 0px;
}
.about-social li:first-child {
  margin-left: 0px;
}
.about-social li a {
  color: black;
  background-color: #bbb5ac;
  float: left;
  line-height: 36px;
  font-size: 16px;
  transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  text-align: center;
  margin-right: 6px;
  height: 40px;
  width: 40px;
  border-radius: 150px;
  border: 1px solid #bbb5ac;
}
.about-social li a:hover {
  color: #204d73;
}
.about-details {
  margin: 0px 30px;
  margin-left: 20px;
}

.about-details p {
  font-size: 16px;
  color: #bbb5ac;
  letter-spacing: 1px;
  line-height: 27px;
  margin-bottom: 48px;
  margin-top: 33px;
  margin-right: 102px;
  text-align: justify;
  width: 100%;
}
.text-2 {
  padding-bottom: 30px;
}
.about-link-1 {
  font-size: 16px;
  color: #bbb5ac;
  /* background-color: #bbb5ac; */
  padding: 13px 18px;
  position: relative;
  border-radius: 5px;
  transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  border: 1px solid #bbb5ac;
  margin-right: 20px;
  box-shadow: 0px 0px 35px 0px #0000000f;
}
.about-link-1:hover {
  text-decoration: none;
  color: #bbb5ac;
  background-color: #204d73;
  border: 1px solid #204d73;
}
.about-link-2 {
  font-size: 16px;
  color: #bbb5ac;
  /* background-color: #bbb5ac; */
  padding: 13px 18px;
  position: relative;
  border-radius: 5px;
  transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  border: 1px solid #bbb5ac;
  margin-right: 0px;
  box-shadow: 0px 0px 35px 0px #0000000f;
}
.about-link-2:hover {
  text-decoration: none;
  color: #bbb5ac;
  background-color: #204d73;
  border: 1px solid #204d73;
}
.work-counter {
  width: 100%;
  /* background-color: #bbb5ac; */
  margin-top: 80px;
}
.no-margin {
  margin-left: 0px;
}
.counter {
  padding: 0px;
}
.work-statistics {
  padding: 0px;
  margin-bottom: 30px;
  border: none;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  /* background-color: #bbb5ac; */
  padding-right: 0px;
  box-shadow: 0px 0px 35px 0px #0000000f;
  padding: 30px 10px;
}
.work-statistics h3 {
  font-size: 30px;
  font-family: "Roboto Slab", serif;
  color: #bbb5ac;
  margin: 0px 9px;
  font-weight: 900;
  vertical-align: middle;
  margin-top: 13px;
}
.work-statistics p {
  color: #535353;
  font-size: 18px;
  margin-top: 8px;
  padding: 0px;
}

.stat-icon {
  font-size: 36px;
  margin-top: 0px;
  color: #204d73;
  transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  border-radius: 5px;
  line-height: 35px;
  text-align: center;
}

/*=========================================================================== SKILL ===============================================================*/

#skill {
  width: 100%;
  /* background-color: #fbfbfb; */
  position: relative;
  margin-top: 0px;
}
.skill-main {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 111;
  padding-bottom: 51px;
  padding-top: 80px;
}

.skill-title {
  padding-top: 0px;
}

/* .skill-under {
  background-color: #bbb5ac;
} */
.skill-details {
  padding-top: 0px;
}
.skill-details p {
  font-size: 17px;
  letter-spacing: 1px;
  color: #3c3c3c;
  padding: 0px;
  line-height: 27px;
  margin-top: 0px;
}
.content {
  width: 100%;
  margin: 0;
  position: relative;
  float: left;
  font-size: 12px;
  line-height: 2em;
}
.col {
  width: 100%;
}

#skill-main {
  list-style: none;
  padding: 26px 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#skill-main li {
  margin-bottom: 29px;
  /* background: #093b7c; */
  height: 14px;
  border-radius: 10px;
  border-left: 1px solid #093b7c;
  border-top: 1px solid #093b7c;
  border-right: 1px solid #093b7c;
  border-bottom: 1px solid #093b7c;
}
#skill-main h3 {
  margin: 0px;
  position: absolute;
  margin-top: -20px;
  font-size: 13px;
  color: #bbb5ac;
}
#skill-main li em {
  position: relative;
  top: -30px;
  float: left;
  color: #bbb5ac;
}

.expand {
  height: 8px;
  margin: 2px 2px;
  background: #204d73;
  position: absolute;
}

.html5 {
  width: 50% !important;
  border-radius: 10px;
}
.CSS {
  width: 50% !important;
  border-radius: 10px;
}
.JavaScript {
  width: 50% !important;
  border-radius: 10px;
}
.TypeScript {
  width: 50% !important;
  border-radius: 10px;
}
.Elixir {
  width: 40% !important;
  border-radius: 10px;
}
.Java {
  width: 30% !important;
  border-radius: 10px;
}
.c {
  width: 35% !important;
  border-radius: 10px;
}
.c_sharp {
  width: 30% !important;
  border-radius: 10px;
}
.r_studio {
  width: 30% !important;
  border-radius: 10px;
}
.Python {
  width: 30% !important;
  border-radius: 10px;
}
.React {
  width: 50% !important;
  border-radius: 10px;
}
.Postgre {
  width: 30% !important;
  border-radius: 10px;
}
.MongoDB {
  width: 40% !important;
  border-radius: 10px;
}
.unity {
  width: 40% !important;
  border-radius: 10px;
}
.skill-porcent {
  position: relative !important;
  float: right;
}
/* .Web.start     { width:84%;  -moz-animation:Web 2s ease-out;       -webkit-animation:Web 2s ease-out; position: relative;  float: left;      }
.Graphics.start    { width:90%;  -moz-animation:Graphics 2s ease-out;        -webkit-animation:Graphics 2s ease-out;      position: relative;  float: left;  }
.Developing.start  { width:81%;  -moz-animation:Developing 2s ease-out;      -webkit-animation:Developing 2s ease-out;    position: relative;  float: left;  }
.Photoshop.start   { width:100%;  -moz-animation:Photoshop 2s ease-out;   -webkit-animation:Photoshop 2s ease-out;   position: relative;  float: left;}
.Photography.start { width:100%; -moz-animation:Photography 2s ease-out; -webkit-animation:Photography 2s ease-out;   position: relative;  float: left;} */

/* @-moz-keyframes Web       { 0%  { width:0px;} 100%{ width:84%;}  }
@-moz-keyframes Graphics        { 0%  { width:0px;} 100%{ width:90%;}  }
@-moz-keyframes Developing      { 0%  { width:0px;} 100%{ width:81%;}  }
@-moz-keyframes Photoshop   { 0%  { width:0px;} 100%{ width:100%;}  }
@-moz-keyframes Photography { 0%  { width:0px;} 100%{ width:100%;} }

@-webkit-keyframes Web       { 0%  { width:0px;} 100%{ width:84%;}  }
@-webkit-keyframes Graphics        { 0%  { width:0px;} 100%{ width:90%;}  }
@-webkit-keyframes Developing      { 0%  { width:0px;} 100%{ width:81%;}  }
@-webkit-keyframes Photoshop   { 0%  { width:0px;} 100%{ width:100%;}  }
@-webkit-keyframes Photography { 0%  { width:0px;} 100%{ width:100%;} } */

/*=========================================================================== RESUME ===============================================================*/

#resume {
  width: 100%;
  /* background-color: #bbb5ac; */
  margin-top: 0px;
  position: relative;
}
.resume-content {
  padding-top: 80px;
  padding-bottom: 50px;
}
.resume-grid {
  width: 100%;
  margin-top: 0px;
}
.resume-details {
  padding: 0px;
  margin-bottom: 30px;
  border: none;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  background-color: #11111136;
  padding-right: 0px;
  /* box-shadow: 0px 0px 35px 0px #0000000f; */
  position: relative;
  border-radius: 10px;
}
.resume-details:hover .resume-hover {
  border-radius: 10px;
  width: 100%;
}
.resume-details:hover .resume-icon {
  background-color: #bbb5ac;
  color: #204d73;
}

.resume-details:hover h2 {
  color: #bbb5ac;
}
.resume-details:hover h3 {
  color: #bbb5ac;
}
.resume-details:hover p {
  color: #bbb5ac;
}
.resume-details:hover .underline1 {
  background-color: #181a1b;
}
.resume-details:hover .underline2 {
  background-color: #181a1b;
}
.resume-hover {
  position: absolute;
  background-color: #204d73;
  height: 100%;
  width: 0%;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.resume-main {
  padding: 30px 10px;
}
.resume-details h3 {
  margin: 16px 0px;
  font-size: 23px;
  letter-spacing: 1px;
  color: #bbb5ac;
  font-family: "Roboto Slab", serif;
  position: relative;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: 21px;
}
.resume-details h2 {
  margin: 16px 0px;
  font-size: 17px;
  letter-spacing: 1px;
  color: #939393;
  position: relative;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  margin-bottom: 8px;
  margin-top: 15px;
}
.resume-details p {
  color: #bbb5ac;
  font-size: 17px;
  line-height: 25px;
  margin-top: 10px;
  margin-bottom: 0px;
  position: relative;
}
.resume-icon {
  font-size: 23px;
  color: #bbb5ac;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  border: 1px solid #204d73;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  background-color: #204d73;
  position: relative;
}
.main-row {
  margin-top: 50px;
}

.exp-details {
  border-radius: 10px;
  padding: 0px;
  margin-bottom: 30px;
  border: none;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  background-color: #11111136;
  padding-right: 0px;
  /* box-shadow: 0px 0px 35px 0px #0000000f; */
  position: relative;
}
.exp-details:hover .exp-hover {
  border-radius: 10px;
  height: 100%;
}
.exp-details:hover .exp-icon {
  background-color: #bbb5ac;
  color: #204d73;
}

.exp-details:hover h2 {
  color: #bbb5ac;
}
.exp-details:hover h3 {
  color: #bbb5ac;
}

.exp-details:hover h4 {
  color: #bbb5ac;
}
.exp-details:hover p {
  color: #bbb5ac;
}
.exp-details:hover .underline1 {
  background-color: #181a1b;
}
.exp-details:hover .underline2 {
  background-color: #181a1b;
}
.exp-hover {
  position: absolute;
  background-color: #204d73;
  height: 0%;
  width: 100%;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.exp-main {
  padding: 30px 10px;
}
.exp-details h3 {
  margin: 16px 0px;
  font-size: 23px;
  letter-spacing: 1px;
  color: #bbb5ac;
  font-family: "Roboto Slab", serif;
  position: relative;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: 21px;
}
.exp-details h4 {
  margin: 16px 0px;
  font-size: 16px;
  letter-spacing: 1px;
  color: #204d73;
  position: relative;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  margin-bottom: 8px;
  margin-top: 7px;
}
.exp-details h2 {
  margin: 16px 0px;
  font-size: 17px;
  letter-spacing: 1px;
  color: #939393;
  position: relative;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  margin-bottom: 8px;
  margin-top: 15px;
}
.exp-details p {
  color: #bbb5ac;
  font-size: 17px;
  line-height: 25px;
  margin-top: 10px;
  margin-bottom: 0px;
  position: relative;
}
.exp-icon {
  font-size: 23px;
  color: #bbb5ac;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  border: 1px solid #204d73;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  background-color: #204d73;
  position: relative;
}

.height-exp{
  height: 350px;
}

/*=========================================================================== WORK ===============================================================*/

#work {
  width: 100%;
  background-color: #fbfbfb;
  margin-top: 0px;
}
.work-content {
  padding-bottom: 80px;
  padding-top: 80px;
}
.work-grid {
  width: 100%;
}

.work-title h3 {
  font-size: 34px;
  font-family: "Roboto Slab", serif;
  letter-spacing: 2px;
  color: #f05421;
  margin-top: 0px;
  font-weight: 900;
  line-height: 30px;
}

.work-title p {
  font-size: 17px;
  letter-spacing: 1px;
  color: #bbb5ac;
  padding: 0px;
  line-height: 27px;
  margin: 15px 0px;
  margin-bottom: 50px;
}
.work-details {
  margin-top: 50px;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: #204d73;
  position: absolute;
  z-index: 1;
  opacity: 0;

  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.overlay-main {
  width: 100%;
  height: 100%;
  display: table;
}
.overlay h3 {
  color: #bbb5ac;
  font-size: 20px;
  transform: translateY(-300px);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition-delay: 0.2s;
}
.portfolio-wrapper:hover h3 {
  transform: translateY(0px);
}
.work-icon {
  font-size: 27px;
  color: #bbb5ac;
  text-align: center;
  transform: translateY(300px);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition-delay: 0.2s;
}
.portfolio-wrapper:hover .work-icon {
  transform: translateY(0px);
}
#filters {
  padding: 0;
  list-style: none;
  width: 590px;
  margin: 30px auto;
  margin-top: 10px;
}

#filters li {
  float: left;
}

#filters li span {
  display: block;
  padding: 5px 20px;
  text-decoration: none;
  color: #2f2f2f;
  cursor: pointer;
}

#filters li span.active {
  background: #204d73;
  color: #bbb5ac;
}

#portfoliolist .portfolio {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  width: 25%;
  margin-right: 0%;
  display: none;
  float: left;
  overflow: hidden;
  margin-bottom: 0%;
}

.portfolio-wrapper {
  overflow: hidden;
  position: relative !important;
  background: #666;
}

.portfolio img {
  max-width: 100%;
  position: relative;
  top: 0;
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.portfolio-wrapper img {
  transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
}
.portfolio-wrapper:hover .overlay {
  opacity: 1.5;
}
.portfolio .text-category {
  display: block;
  font-size: 9px;
}

/* #Tablet (Portrait) */
/*  #Mobile (Portrait) - Note: Design for a width of 320px */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: "\0020";
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.row:after,
.clearfix:after {
  clear: both;
}
.row,
.clearfix {
  zoom: 1;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/*================================================================ FANCYBOX ===============================================================*/
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: #204d73;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0px 0px 35px 0px #0000000f;
  -moz-box-shadow: 0px 0px 35px 0px #0000000f;
  box-shadow: 0px 0px 35px 0px #0000000f;
}

.fancybox-outer,
.fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image,
.fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading,
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
  background-image: url("../img/fancybox_sprite.png");
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../img/fancybox_loading.gif") center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
  background: url("../img/close.png") center center no-repeat;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("../img/blank.html");
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

.fancybox-lock {
  overflow: visible !important;
  width: auto;
}

.fancybox-lock body {
  overflow: visible !important;
}

.fancybox-lock-test {
  overflow-y: visible !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("../fancybox_overlay.html");
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.83);
}

.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #bbb5ac;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #bbb5ac;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #bbb5ac;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading,
  .fancybox-close,
  .fancybox-prev span,
  .fancybox-next span {
    background-image: url("../fancybox_sprite%402x.html");
    background-size: 44px 152px;
  }

  #fancybox-loading div {
    background-image: url("../fancybox_loading%402x.html");
    background-size: 24px 24px;
  }
}
#fancybox-buttons {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 8050;
}

#fancybox-buttons.top {
  top: 10px;
}

#fancybox-buttons.bottom {
  bottom: 10px;
}

#fancybox-buttons ul {
  display: block;
  width: 166px;
  height: 30px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  border: 1px solid #111;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 35px 0px #0000000f;
  -moz-box-shadow: 0px 0px 35px 0px #0000000f;
  box-shadow: 0px 0px 35px 0px #0000000f;
  background: rgb(50, 50, 50);
  background: -moz-linear-gradient(
    top,
    rgb(68, 68, 68) 0%,
    rgb(52, 52, 52) 50%,
    rgb(41, 41, 41) 50%,
    rgb(51, 51, 51) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgb(68, 68, 68)),
    color-stop(50%, rgb(52, 52, 52)),
    color-stop(50%, rgb(41, 41, 41)),
    color-stop(100%, rgb(51, 51, 51))
  );
  background: -webkit-linear-gradient(
    top,
    rgb(68, 68, 68) 0%,
    rgb(52, 52, 52) 50%,
    rgb(41, 41, 41) 50%,
    rgb(51, 51, 51) 100%
  );
  background: -o-linear-gradient(
    top,
    rgb(68, 68, 68) 0%,
    rgb(52, 52, 52) 50%,
    rgb(41, 41, 41) 50%,
    rgb(51, 51, 51) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgb(68, 68, 68) 0%,
    rgb(52, 52, 52) 50%,
    rgb(41, 41, 41) 50%,
    rgb(51, 51, 51) 100%
  );
  background: linear-gradient(
    top,
    rgb(68, 68, 68) 0%,
    rgb(52, 52, 52) 50%,
    rgb(41, 41, 41) 50%,
    rgb(51, 51, 51) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#222222',GradientType=0 );
}

#fancybox-buttons ul li {
  float: left;
  margin: 0;
  padding: 0;
}

#fancybox-buttons a {
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background-color: transparent;
  background-image: url("fancybox_buttons.html");
  background-repeat: no-repeat;
  outline: none;
  opacity: 0.8;
}

#fancybox-buttons a:hover {
  opacity: 1;
}

#fancybox-buttons a.btnPrev {
  background-position: 5px 0;
}

#fancybox-buttons a.btnNext {
  background-position: -33px 0;
  border-right: 1px solid #3e3e3e;
}

#fancybox-buttons a.btnPlay {
  background-position: 0 -30px;
}

#fancybox-buttons a.btnPlayOn {
  background-position: -30px -30px;
}

#fancybox-buttons a.btnToggle {
  background-position: 3px -60px;
  border-left: 1px solid #111;
  border-right: 1px solid #3e3e3e;
  width: 35px;
}

#fancybox-buttons a.btnToggleOn {
  background-position: -27px -60px;
}

#fancybox-buttons a.btnClose {
  border-left: 1px solid #111;
  width: 35px;
  background-position: -56px 0px;
}

#fancybox-buttons a.btnDisabled {
  opacity: 0.4;
  cursor: default;
}
#fancybox-thumbs {
  position: fixed;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 8050;
}

#fancybox-thumbs.bottom {
  bottom: 2px;
}

#fancybox-thumbs.top {
  top: 2px;
}

#fancybox-thumbs ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

#fancybox-thumbs ul li {
  float: left;
  padding: 1px;
  opacity: 0.5;
}

#fancybox-thumbs ul li.active {
  opacity: 0.75;
  padding: 0;
  border: 1px solid #bbb5ac;
}

#fancybox-thumbs ul li:hover {
  opacity: 1;
}

#fancybox-thumbs ul li a {
  display: block;
  position: relative;
  overflow: hidden;
  border: 1px solid #222;
  background: #111;
  outline: none;
}

#fancybox-thumbs ul li img {
  display: block;
  position: relative;
  border: 0;
  padding: 0;
  max-width: none;
}

/*============================================================== CONTACT =====================================================================*/
#contact {
  width: 100%;
  /* background-color: #fbfbfb; */
}
.contact-content {
  width: 100%;
  padding-top: 80px;
}
.contact-grid {
  position: relative;
  z-index: 111;
}

.contact-row {
  margin-top: 80px;
}

.contact-col {
  /* background-color: #bbb5ac; */
  padding-bottom: 80px;
  box-shadow: 0px 0px 35px 0px #0000000f;
  padding-top: 80px;
}
.contact-col h3 {
  font-size: 27px;
  color: #383838;
  letter-spacing: 2px;
  font-family: "Anton", sans-serif;
  margin: 0px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
.contact-col-info {
  background-color: transparent;
  margin-bottom: 30px;
}

.contact-form-details {
  margin-top: 0px;
  padding-bottom: 0px;
}
.contact-form {
  width: 100%;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
}
.form-control {
  display: block;
  width: 100%;
  margin: auto;
  height: 50px;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #8c8b8b;
  background-image: none;
  border: 1px solid #bbb5ac;
  -webkit-box-shadow: 0px 0px 35px 0px #0000000f;
  box-shadow: 0px 0px 35px 0px #0000000f;
  border-color: transparent;
  /* background-color: #bbb5ac; */
  text-align: center;
}
.form-control:enabled {
  box-shadow: 0px 0px 35px 0px #0000000f;
  border: 1px solid #d5d5d5;
}
.has-error .form-control {
  border-color: #000;
  -webkit-box-shadow: 0px 0px 35px 0px #0000000f;
  box-shadow: 0px 0px 35px 0px #0000000f;
}
.has-error .help-block {
  color: #878787;
  text-align: center;
}
.has-error .form-control:enabled {
  box-shadow: 0px 0px 35px 0px #0000000f;
  border: 1px solid #adadad;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 100%;
}
.btn-success.disabled {
  background-color: #204d73;
  border-color: #204d73;
  color: #bbb5ac;
  cursor: not-allowed;
}
.btn.disabled:hover {
  background-color: #204d73;
  border-color: #204d73;
  color: #bbb5ac;
  cursor: not-allowed;
}
.btn-success:hover {
  cursor: pointer;
  background-color: #204d73;
  border-color: #204d73;
  color: #bbb5ac;
}
.btn-success {
  background-color: #204d73;
  border-color: #204d73;
  color: #bbb5ac;
}
.text-danger {
  color: #204d73;
  position: absolute;
  text-align: center;
  width: 100%;
}
.text-success {
  color: #204d73;
  position: absolute;
  text-align: center;
  width: 100%;
}
.hidden {
  display: none !important;
  color: #2a99cc;
}

.contact-info-row {
  margin-top: 80px;
}

.contact-icon {
  font-size: 43px;
  color: #204d73;
  position: relative;
  margin-left: 0px;
  margin-top: 0px;
  text-align: center;
  transition: 1.4s;
  -webkit-transition: 1.4s;
  -moz-transition: 1.4s;
  -ms-transition: 1.4s;
  -o-transition: 1.4s;
}

.contact-col-info h3 {
  font-size: 25px;
  position: relative;
  margin-top: 14px;
  font-weight: 700;
  color: #204d73;
}
.contact-col-info p {
  font-size: 17px;
  color: #bbb5ac;
  line-height: 23px;
  position: relative;
  margin-bottom: 0px;
}
.copyright-details {
  background-color: #204d73;
  padding-top: 27px;
}
.copyright h3 {
  margin: 0px;
  padding: 30px 0px;
  text-align: center;
  font-size: 17px;
  color: #bbb5ac;
  padding-top: 6px;
}
.map {
  width: 100%;
  height: 600px;
}

.map-wrap {
  position: relative;
}

.overlay-map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 11111;
}
.map-col {
  padding: 0px;
  margin-top: 50px;
}
.form-control::-moz-placeholder {
  color: #bbb5ac;
}
.form-control:-ms-input-placeholder {
  color: #bbb5ac;
}
ontrol::-webkit-input-placeholder {
  color: #bbb5ac;
}
.form-control:-moz-placeholder {
  color: #bbb5ac;
}
.form-control::-moz-placeholder {
  color: #bbb5ac;
}
.form-control:-ms-input-placeholder {
  color: #bbb5ac;
}

/*=========================================================================== CERTIFICADO ===============================================================*/

#formacao {
  width: 100%;
  /* background-color: #fbfbfb; */
  position: relative;
  margin-top: 0px;
}
.formacao-main {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 111;
  padding-bottom: 51px;
  padding-top: 80px;
}

.formacao-title {
  padding-top: 0px;
}

/* .formacao-under {
  background-color: #bbb5ac;
} */
.formacao-details {
  padding-top: 0px;
}
.formacao-details p {
  font-size: 17px;
  letter-spacing: 1px;
  color: #3c3c3c;
  padding: 0px;
  line-height: 27px;
  margin-top: 0px;
}
.content {
  width: 100%;
  margin: 0;
  position: relative;
  float: left;
  font-size: 12px;
  line-height: 2em;
}
.col {
  width: 100%;
}

#formacao-main {
  list-style: none;
  padding: 26px 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#formacao-main li {
  margin-bottom: 29px;
  /* background: #093b7c; */
  height: 14px;
  border-radius: 10px;
  border-left: 1px solid #093b7c;
  border-top: 1px solid #093b7c;
  border-right: 1px solid #093b7c;
  border-bottom: 1px solid #093b7c;
}
#formacao-main h3 {
  margin: 0px;
  position: absolute;
  margin-top: -20px;
  font-size: 13px;
  color: #bbb5ac;
}
#formacao-main li em {
  position: relative;
  top: -30px;
  float: left;
  color: #bbb5ac;
}

.expand {
  height: 8px;
  margin: 2px 2px;
  background: #204d73;
  position: absolute;
}

.concluido {
  width: 91.5% !important;
  border-radius: 10px;
}
.cursando {
  width: 45.5% !important;
  border-radius: 10px;
  background: rgb(150, 112, 0);
}

.novo {
  width: 1% !important;
  border-radius: 10px;
  background: rgb(80, 80, 80);
}

.formacao-porcent {
  position: relative !important;
  float: right;
}

.formacao-null {
  border-color: #bbb5ac00 !important;
}

/*=============================================================== CERTIFICADOs ======================================================*/

.table-certificados {
  width: 100%;
}

.tr-certificados {
  color: #ede7e7;
}
.tr-certificados td{
  color: #ede7e77d;
}

/*=============================================================== RESPONSIVE ======================================================*/

@media screen and (max-width: 768px) {
  .about-details {
    margin: 42px 16px;
    margin-top: 0px;
  }

  .contact-form {
    width: 100%;
    margin: auto;
    padding-bottom: 0px;
  }
  .navbar-nav {
    float: right;
    margin: 17px 23px;
    margin-right: 0px;
  }
  .navbar-nav li {
    float: left;
    margin: 0px 9px;
    display: inherit;
  }
  .navbar-default.small .navbar-nav {
    float: right;
    margin: 17px 23px;
    margin-right: 0px;
  }
  .exp-details h3 {
    margin: 16px 0px;
    font-size: 20px;
    letter-spacing: 1px;
    color: #bbb5ac;
    font-family: "Roboto Slab", serif;
    position: relative;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 21px;
  }
  #skill-main {
    list-style: none;
    padding: 34px 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .about-details p {
    font-size: 16px;
    color: #bbb5ac;
    letter-spacing: 1px;
    line-height: 27px;
    margin-bottom: 48px;
    margin-top: 33px;
    margin-right: 0px;
    text-align: justify;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .navbar-default.small .navbar-nav > li > a {
    color: #bbb5ac;
  }
  .about-details {
    margin: 42px 16px;
  }
  .work-counter {
    width: 100%;
    margin-top: 40px;
  }
  .navbar-default.small .navbar-nav {
    float: right;
    margin: 17px 23px;
    margin-right: 32%;
  }
  .navbar-default {
    background-color: transparent;
    height: 75px;
    border-bottom: none;
    overflow: visible;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
  .navbar-nav {
    float: right;
    margin: 11px 21px;
    margin-right: 32%;
    display: inherit;
    width: 200px;
    background-color: transparent;
  }
  .navbar-style {
    padding: 0px;
  }
  .navbar-nav li {
    float: left;
    margin: 9px 11px;
    display: inherit;
    width: 100%;
  }
  .navbar-fixed-top .navbar-collapse {
    height: 1000px;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .navbar-fixed-top .navbar-collapse {
    max-height: 100%;
  }
  .navbar-default .navbar-nav > li > a {
    color: #bbb5ac;
    letter-spacing: 2px;
    font-size: 16px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    padding: 10px 0px;
    text-align: center;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: transparent;
  }
  #portfoliolist .portfolio {
    /* -webkit-box-sizing: border-box; */
    /* -moz-box-sizing: border-box; */
    /* -o-box-sizing: border-box; */
    width: 49%;
    margin-right: 1%;
    display: none;
    float: left;
    overflow: hidden;
    margin-bottom: 1%;
  }
}

@media screen and (max-width: 640px) {
  .contact-form {
    width: 100%;
    margin: auto;
  }
  .work-counter {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .wow {
    animation-name: none !important;
    visibility: visible !important;
  }
  #filters {
    padding: 0;
    list-style: none;
    width: 100%;
    margin: 30px auto;
    margin-top: 10px;
  }
  .navbar-default.small .navbar-nav {
    float: right;
    margin-right: 27%;
  }
  .navbar-nav {
    float: right;
    margin: 11px 21px;
    margin-right: 27%;
    display: inherit;
    width: 200px;
    background-color: transparent;
  }
  #filters li {
    float: none;
  }
  .cd-headline.clip span {
    font-size: 35px;
    color: #204d73;
    font-family: "Roboto Slab", serif;
    letter-spacing: 2px;
    font-weight: 900;
  }
}

@media screen and (max-width: 470px){
  .height-exp{
    height: 400px;
  }
}

@media screen and (max-width: 360px){
  .cd-headline.clip span {
    font-size: 25px;
  }
}

@media screen and (max-width: 320px) {
  .home-row {
    z-index: 2;
    position: relative;
  }
  .wow {
    animation-name: none !important;
    visibility: visible !important;
  }
  .contact-form {
    width: 100%;
    margin: auto;
    padding: 0px;
  }
  .home-text h2 {
    font-size: 34px;
    color: #bbb5ac;
    font-family: "Roboto Slab", serif;
    letter-spacing: 2px;
    font-weight: 900;
  }

  .navbar-nav {
    float: right;
    margin: 11px 21px;
    margin-right: 15%;
    display: inherit;
    width: 200px;
    background-color: transparent;
  }
  .navbar-default.small .navbar-nav {
    float: right;
    margin-right: 15%;
    margin: 11px 21px;
  }
  .about-social li a {
    float: left;
    line-height: 28px;
    font-size: 14px;
    transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    text-align: center;
    margin-right: 6px;
    height: 30px;
    width: 30px;
  }
  .navbar-default.small .navbar-nav {
    float: right;
    margin: 17px 23px;
    margin-right: 15%;
  }
  .navbar-nav li {
    float: left;
    margin: 1px 11px;
    display: inherit;
    width: 100%;
  }
  #portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width: 100%;
    margin-right: 0%;
    display: none;
    float: left;
    overflow: hidden;
    margin-bottom: 1%;
  }
  .work-counter {
    width: 100%;
  }

  .about-details {
    margin: 40px 15px;
  }
  .about-link-1 {
    font-size: 16px;
    color: #bbb5ac;
    /* background-color: #bbb5ac; */
    padding: 13px 9px;
    position: relative;
    border-radius: 5px;
    transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    border: 1px solid #bbb5ac;
    margin-right: 10px;
    box-shadow: 0px 0px 35px 0px #0000000f;
  }
  .about-link-2 {
    font-size: 16px;
    color: #bbb5ac;
    /* background-color: #bbb5ac; */
    padding: 13px 9px;
    position: relative;
    border-radius: 5px;
    transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    border: 1px solid #bbb5ac;
    margin-right: 0px;
    box-shadow: 0px 0px 35px 0px #0000000f;
  }
  .testimonial-content {
    padding-bottom: 90px;
    padding-top: 80px;
  }
  section {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 30px;
    height: auto;
    margin-bottom: 0px;
  }

  .height-exp{
    height: 450px;
  }
}

.legenda-disciplinas {
  min-width: 40px;
}
.badge-primary {
  color: rgb(232, 230, 227);
  background-color: rgb(0, 98, 204);
}
.badge-info {
  color: rgb(232, 230, 227);
  background-color: rgb(18, 130, 147);
}
.badge-warning {
  color: rgb(209, 205, 199);
  background-color: rgb(150, 112, 0);
}
.badge-error {
  color: rgb(209, 205, 199);
  background-color: rgb(150, 0, 0);
}
.badge-promisse {
  color: rgb(209, 205, 199);
  background-color: rgb(80, 80, 80);
}
.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media screen and (max-width: 950px){
  .cd-headline.clip span {
    font-size: 60px;
  }
}

@media screen and (max-width: 650px){
  .cd-headline.clip span {
    font-size: 50px;
  }
}

@media screen and (max-width: 550px){
  .cd-headline.clip span {
    font-size: 40px;
  }
}

@media screen and (max-width: 450px){
  .cd-headline.clip span {
    font-size: 30px;
  }
}

@media screen and (max-width: 350px){
  .cd-headline.clip span {
    font-size: 20px;
  }
}

@media screen and (max-width: 1200px){
  .about-img {
    margin-top: 40px;
    width: 80%;
  }
}

@media screen and (max-width: 992px){
  .about-img {
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px){
  .about-img {
    margin-top: 5px;
    width: 50%;
  }
}